@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

/* header section */
header {
    padding: 45px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.1);
    width: 100%;
    height: 730px;
}
.header {
   max-width: 634px;
   
}
.header h1 {
    width: 700px;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: #272727;
}

.header p {
    font-size: 1rem;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 25px;
    width: 450px;
}

.header a .btn-primary {
    background: rgb(229, 84, 115);
    color: #ffffff;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header a .btn-primary:hover {
    background-color: #c63a3f;
}

.img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 0;
}

.img img {
    /*  width: 400;  */
    max-width: 100%;
    height: 730px;
    padding-top: 50px;
    display: block;
    margin: 0;
    
}

/* feature section */

.feature {
    width: 90%;
    margin: 178px auto 128px auto;
 
   justify-content: center;
}

.feature-text {
    text-align: center;
}

.feature-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #272727;
}

.feature-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 18px;
}
.flowers {
    max-width: 100%;
    display: flex;
    margin-top: 50px;
    gap: 30px;
   justify-content: space-between;
}

.flowers > div {
    flex: 1;
    flex-basis: 30%;
}
.flowers > div:nth-child(1) {
     background: rgba(167, 33, 98, 0.15);
     border-radius: 300px 300px 0px 0px;
}
.flowers > div:nth-child(2){
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.flowers > div:nth-child(3){
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
#img {
    width: 100%;
    height: 538px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}



#img .img1 {
    padding: 110px 30px 0 30px;
}

#img .img2 {
    padding: 117px 25px 51px 25px;
}
 
#img .img3 {
    padding: 67px 45px 0 45px;
}

.flower-description {
    margin-top: 30px;
    
}

a {
    color: #272727;
    font-size: 1.5rem;
}


  /* delivery section */

.delivery {
    margin: 128px auto 128px auto;
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 90%;
    height: 320px;
    justify-content: space-between;
    align-items: center;
    padding: 86px 150px 86px 150px;
}

.options > div {
    align-items: center;
    text-align: center;
}

.options img {
    margin-bottom: 24px;
}

.icon {
    align-items: center;
    justify-content: center;
}

.icon-description a{
    text-decoration: none;
}

/* sale section */

.sale {
    width: 100%;
    height: 620px;
    border-radius: 8px;
    margin: 128px 0 128px 0;
    background: rgba(229, 84, 115, 0.05);
    padding: 0 200px 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.sale-description {
    margin: 230px 0 162px 0;
    width: 594px;
}

.sale-description h3 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.sale-description h3 .off {
    color: #E55473;
}

.sale-description p {
    font-size: 1.125rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 32px;
}

.sale-img {
    width: 318px;
    height: 420px;
    margin: 100px 0 100px 0;
}

.sale-description .btn-primary {
    background: rgb(229, 84, 115);
    color: #ffffff;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    width: 155px;
    height: 64px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sale-description .btn-primary:hover {
    background-color: #c63a3f;
}

/* instagram */

.instagram {
    width: 90%;
    margin-left: 60px;
    margin-right: 60px;
    
} 

.instagram-description {
    align-items: center;
    text-align: center;
    margin-bottom: 48px;
    
}

.instagram-description h3 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.instagram-description p {
    font-size: 1.125rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6); 
}

.insta-img {
    justify-content: space-between;
    gap: 24px;
    display: flex;   
}

 .imgs {
    width: 24%;
    height: 376px;   
}

/* deals */

.deals {
    margin-top: 128px;
    margin-bottom: 128px;
    background-image: url("Flower Asset/Rectangle\ 9.png");
    height: 450px;
    width: 90%;
    margin-left: 75px;
    margin-right: 75px;
    background-size: cover;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.deals h3 {
    padding-top: 120px;
    font-size: 2.5rem;
    margin-bottom: 16px;
    font-weight: 800;
}

.deals p {
    font-size: 1.125rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 48px;
}

.info input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    border: none;
    padding-left: 22px;
    color: rgba(39, 39, 39, 0.6);
    font-size: 1rem;
    font-weight: 400;
}

.info .btn-primary {
     background: rgb(229, 84, 115);
    color: #ffffff;
    padding: 12px 25px;
    width: 150px;
    height: 64px;
    margin-left: 18px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info .btn-primary:hover {
    background-color: #c63a3f;
}

.footer {
    height: 450px;
    width: 100%;
    background-color: #111010;
    text-align: center;
}

.footer h3 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 800px;
    padding-top: 128px;
    margin-bottom: 25px;
}

.footer .flowerr {
    color: #E55473;
}

.footer .p1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 32px;
}

.footer .p2 {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1rem;
    font-weight: 400;
}

/* responsive media query */
@media screen and (max-width: 576px) {
   header {
    flex-direction: column;
   /* text-align: center;
    align-items: center; */
   }
   
   .header {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
   }
    
   .header h1 {
    font-size: 2rem;
    text-align: left;
   } 


   .header p {
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 100%;
   }

   .btn-primary {
    padding: 10px 20px ;
    
   }

   .img {
    justify-content: center;
    align-items: center;
   }

   .img img {
    width: 100%;
    max-width: 300px;
    height: 80%;
    
   }
}
